# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\tyagi\Desktop\Anshu\College Stuff\NITW Stuff\Study\SEM - II\OOPS Lab\Lab_Assignment_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
